* {
    margin: 0;
    margin-top: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:1920px;
}
#header{
    float: left;
    background-color: #2F8F9D;
    width: 100%;
    height: 600px;
}
#content{
    float: left;
    border: 1px solid rgb(0, 0, 0);
    width: 99.9%;
    height: 800px;
    padding: 0;
    background-color: #82DBD8;
}
#tekst{
    float: left;
    width: 700px;
    height: auto;
    margin: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
#button{
    margin: 0;
    float: right;
    width:250px; 
    height:50px;
}
.fade{
    background-color: #2F8F9D;
}
.fade:hover
{
    background-color: #1cbbd483;
}
p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
}
font{
    font-size: 200px;
    font-family:'Times New Roman', Times, serif;
}
.info{
    width: 300px;
    height: 400px;
    border-radius: 25px;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 120px;
    margin-bottom: 120px;
    position: relative;
}
.image {
    display:block;
    width: 300px;
    height: 400px;
    opacity: 1;
    border-radius: 25px;
}      
.overlay-bottom-slide {   
    position: absolute;  
    opacity:0;
    bottom:0;
    right:0;
    top:100%;
    height:0;
    width:100%;
    overflow: hidden;
    transition: .5s ease;
    background-color: rgb(54, 54, 54);
    border-radius: 25px;
}
.info:hover .image {
    opacity:0.9;
}

.info:hover .overlay-bottom-slide
{
    top: 80%;
    height: 20%;
    opacity:0.6;
}
a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 30px;
    text-align: center;
}
.info-text{
    width: 300px;
    height: 200px;
    display: block;
    word-wrap:break-word;
}
#left{margin-left: 15%;float:left;}
#right{margin-right: 15%;float:right;}
#center{display:block;margin:auto; margin-top: 120px;}
.round{border-radius: 25px;}
::-webkit-scrollbar {display: none;}